.footer {
  background-color: $color-vanilla;
  margin-top: 6rem;
  padding: 0.8rem 0;
  bottom: 0;

  @media screen and (max-width: 768px) {
    background-color: white;
    margin-top: 12rem;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__wrapperItem p {
    color: $color-footer;
    margin: 0.6rem 0;

    @media screen and (max-width: 768px) {
      margin: 0.3rem 0;
    }
  }
}
