.footer {
  background-color: $color-vanilla;
  position: absolute;
  bottom: 0;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      background-color: white;
    }
  }

  &__wrapperItem p {
    color: $color-footer;
    margin: 1.5rem 0;
  }
}
