* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: $color-background;
  font-family: "Open Sans", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.home {
  // &__wrapper {
  //   min-height: 100%;
  // }

  &__header {
    margin-top: 4rem;
  }

  &__header h1 {
    font-weight: 600;
    color: $color-font;
  }

  &__cardWrapper,
  &__cardBody {
    border-radius: 20px;
  }

  &__cardBody {
    height: 16rem;
    box-shadow: 2px 5px 36px -17px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 5px 36px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 5px 36px -17px rgba(0, 0, 0, 0.75);
  }

  &__soldOut {
    border: 3px solid $primary;
  }

  &__special {
    background-color: $primary;
    border: 3px solid white;
  }
}
