.nav {
  background-color: $color-vanilla;
  width: 100vw;
  position: absolute;

  &__brand {
    font-weight: 800;
    font-size: 1.5rem;
  }

  &__link--active {
    color: $primary !important;
  }
}
